#imagePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px; /* 필요에 따라 조정 */
}

#imagePreview img {
  max-width: 100%;
  height: auto;
  display: block; /* 인라인 요소의 여백을 제거 */
}
